<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Send') }}</button>
    {{ form_end(form) }}
</div>
